<video id="video" width="640" height="480" controls></video>
<!-- <button id="snap">Snap Photo</button> -->
<canvas id="canvas" width="640" height="480"></canvas>
<img id='ima'>
<h1><%= @message.title %></h1>

<p><%= @message.content %></p>

<%= render 'comments/comments', message: @message %>